<md-content>

<md-toolbar layout="row"  ng-init="hidecard = true;">
    <div>
        <img style="margin: 10px 0 0 30px; height:45px; width:45px" ng-src="./assets/font/material-design-icons/ic_arrow_back_white_48dp.png"/>
    </div>
    <h1 style="margin: 10px 0 0 450px">Stand Up</h1>
</md-toolbar>

<div layout="row" layout-fill>
    <div id="left">

        <div layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span>Event details</span>
                </div>
            </md-toolbar>
        </div>


        <div class="details">
            <h2>Title</h2><md-divider></md-divider>
            <p>Stand Up</p><br/>
            <h2>Description</h2><md-divider></md-divider>
            <p> Any block may contain variable declarations. If a local variable or parameter in a method has the same name
                as a field of a class, the field is "hidden"  until the block terminates execution -  this is called shadowing</p><br/>
            <strong class="author">Author</strong><span>: Ahmed Onawale</span>
            <span class="leavecommentbtn"><md-button ng-click="hidecard = false" class="md-primary">Leave a comment</md-button></span>
        </div>



        <md-card ng-hide="hidecard">

            <form name="commentForm" ng-submit="commentForm.$valid && commentCtrl.addComment()" novalidate>
                <md-input-container>
                    <label>Comment</label>
                    <textarea name="commentBox" ng-model="commentCtrl.comment.text" required></textarea>
                    <div ng-messages="commentForm.text.$error" ng-show="commentForm.text.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Name</label>
                    <input type="text" name="name" ng-model="commentCtrl.comment.name" placeholder="Enter your name.." required>
                    <div ng-messages="commentForm.name.$error" ng-show="commentForm.commentBox.$dirty && commentForm.name.$pristine">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="commentCtrl.comment.email" required placeholder="ahmed.onawale@andela.co">
                    <div ng-messages="commentForm.email.$error" ng-show="commentForm.commentBox.$dirty && commentForm.email.$invalid">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-button type="submit" class="md-primary md-raised">Submit</md-button>
            </form>
        </md-card>

    </div>

    <div id="right">

        <div layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span>Comments</span>
                </div>
            </md-toolbar>
        </div>


        <md-card ng-repeat="coms in commentCtrl.comments" ng-show="coms.shw">
            <div class="comments"><p>{{coms.text}}</p>
                <span class="author">By: <span class="block-text">{{coms.name}}</span></span><br/>
                <span class="author">Email: <span class="block-text">{{coms.email}}</span></span>
                <footer id="foot">-On {{coms.date | date: 'medium'}}</footer>
            </div>
            <div class="btncomment" ng-show="coms.show">
        <span class="thumbs-edit"><md-icon md-svg-icon="./assets/font/material-design-icons/ic_thumb_up_24px.svg"
                                           ng-click="commentCtrl.addVote(coms)"></md-icon>
            <md-tooltip md-direction="top">Like</md-tooltip>
        </span>
                <span class="badge">{{coms.upvote}}</span>

        <span class="thumbs-edit"><md-icon md-svg-icon="./assets/font/material-design-icons/ic_thumb_down_24px.svg"
                                           ng-click="commentCtrl.remVote(coms)"></md-icon>
            <md-tooltip md-direction="top">Dislike</md-tooltip>
        </span>
                <span class="badge">{{coms.downvote}}</span>

        <span class="thumbs-edit"><md-icon md-svg-icon="./assets/font/material-design-icons/ic_create_24px.svg"
                                           ng-click="commentCtrl.editComment(coms)"></md-icon>
            <md-tooltip md-direction="top">Edit</md-tooltip>
        </span>

        <span class="delete"><md-icon md-svg-icon="./assets/font/material-design-icons/ic_delete_24px.svg"
                                      ng-click="commentCtrl.deleteComment(coms)"></md-icon>
            <md-tooltip md-direction="top">Delete</md-tooltip>
        </span>

            </div>

            <md-input-container>
                <form ng-show="coms.hide" novalidate>
                    <textarea id="text-area" ng-model="coms.text"></textarea>
                    <md-icon class="btnsave" md-svg-icon="./assets/font/material-design-icons/ic_done_all_48px.svg"
                             ng-click="commentCtrl.saveComment(coms)"></md-icon>
                </form>
            </md-input-container>

        </md-card>
    </div>
</div>
