.grey {
    background-color: #fafafa;
}

.highlighted {
    background-color: #e0f2f1;
}

.ng-invalid.ng-dirty{
    border-color: #ff0b39;
}
.ng-valid.ng-dirty{
    border-color: green;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 15px;
}


body{
    font-size: 14px;
    line-height: 1.42857143;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#post-body-inner{
    padding: 20px;
}
.btncomment{
    display: inline-block;
    margin: -25px 0 0 500px;
}
.author{
    font-size: 16px;
}
#form{
    margin-bottom: 30px;
}
#text-area{
    width: 600px;
    margin: 0 0 0 30px;
}
.block-text{
    font-size: 16px;
}
#foot{
    font-size: 14px;
    color:  #777;
}
.heading{
    padding-left: 20px;
    margin-bottom: 30px
}
#sub-heading{
    margin: 0 20px 30px 60px;
}
.comments{
    font-size: 16px;
    padding: 0 5px 0 5px;
}
.btnsave{
    margin: -25px 20px 0 0;
    float: right;
    width: 30px;
    height: 30px;
}
.thumbs-edit:hover{
    color: rgb(63,81,181);
}
.delete:hover{
    color: red;
}

#left{
    width: 500px;
    margin: 20px 0 0 20px;
}
#right{
    width: 700px;
    margin: 20px 0 0 40px;
}
.details{
    padding: 10px;
}
.leavecommentbtn{
    float: right;
    margin: -3px;
}