<!DOCTYPE html>
<html ng-app="CommentsApp2">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../../../assets/css/angular-material.css"/>
    <link type="text/css" rel="stylesheet" href="../../../assets/css/comments.stylesheet.css"/>
    <script type="text/javascript" src="../../../assets/vendor/angular.js"></script>
    <script type="text/javascript" src="../../../assets/vendor/angular-animate.js"></script>
    <script type="text/javascript" src="../../../assets/vendor/angular-aria.js"></script>
    <script type="text/javascript" src="../../../assets/vendor/angular-material.js"></script>
    <script type="text/javascript" src="../../../app2.js"></script>
</head>
<body ng-controller="EventsCtrl as evt">

<div layout="row" layout-fill class="title">
    <div><img src="../../../assets/font/material-design-icons/ic_arrow_back_white_48dp.png"/></div>
    <span class="title-text"><h1>Stand Up</h1></span>
    <div class="date"><h3>Today at 9:00 AM</h3></div>
</div>

</body>
</html>