<!DOCTYPE html>
<html ng-app="CommentsApp2">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../../../assets/css/angular-material.css"/>
    <link type="text/css" rel="stylesheet" href="../../../assets/css/events.list.stylesheet.css"/>
</head>
<body ng-controller="EventsCtrl as evt">

<div layout="row">

    <md-toolbar flex="25">
        <div class="md-toolbar-tools">
            <div class="title">
                <img src="../../../assets/font/material-design-icons/ic_arrow_back_white_48dp.png"/>
            </div>
                <span id="title-text"><h3>Events</h3></span>
        </div>
    </md-toolbar>

    <div layout="row" layout-fill>
        <md-toolbar>
            <div layout-fill class="md-toolbar-tools">
                <span>{{evt.date | date: 'medium'}}</span>
                <div>
                    <md-button class="md-accent md-raised md-hue-1" id="add-btn" ng-click="evt.showEventDialog()">Add Event</md-button>
                </div>
            </div>
        </md-toolbar>
    </div>
</div>
<div layout="row" layout-wrap>

    <md-card layout="row" layout-align="center end" class="card">
    <div flex class="toolbar" layout-align="start end">
        <div class="thumbs"><md-button class="md-primary">
            <span class="badge">23</span><img class="toolbar-icon" src="../../../assets/font/material-design-icons/ic_thumb_up_white_18dp.png"/>
            <span class="badge">6</span><img class="toolbar-icon" src="../../../assets/font/material-design-icons/ic_thumb_down_white_24dp.png"/></md-button>
        </div>
        <div class="comment">
            <md-button><span class="badge">51</span>Comments</md-button>
        </div>
    </div>
    </md-card>

    <md-card layout="row" layout-align="center end" class="card">
        <div flex class="toolbar" layout-align="start end">
            <div class="thumbs"><md-button class="md-primary">
                <span class="badge">23</span><img class="toolbar-icon" src="../../../assets/font/material-design-icons/ic_thumb_up_white_18dp.png"/>
                <span class="badge">6</span><img class="toolbar-icon" src="../../../assets/font/material-design-icons/ic_thumb_down_white_24dp.png"/></md-button>
            </div>
            <div class="comment">
                <md-button><span class="badge">51</span>Comments</md-button>
            </div>
        </div>
    </md-card>

    <md-card layout="row" layout-align="center end" class="card">
        <div flex class="toolbar" layout-align="start end">
            <div class="thumbs"><md-button class="md-primary">
                <span class="badge">23</span><img class="toolbar-icon" src="../../../assets/font/material-design-icons/ic_thumb_up_white_18dp.png"/>
                <span class="badge">6</span><img class="toolbar-icon" src="../../../assets/font/material-design-icons/ic_thumb_down_white_24dp.png"/></md-button>
            </div>
            <div class="comment">
                <md-button><span class="badge">51</span>Comments</md-button>
            </div>
        </div>
    </md-card>
</div>

<script type="text/javascript" src="../../../assets/vendor/angular.js"></script>
<script type="text/javascript" src="../../../assets/vendor/angular-animate.js"></script>
<script type="text/javascript" src="../../../assets/vendor/angular-aria.js"></script>
<script type="text/javascript" src="../../../assets/vendor/angular-material.js"></script>
<script type="text/javascript" src="../../../app2.js"></script>
</body>
</html>