
<div layout="row">

    <md-toolbar flex="25">
        <div class="md-toolbar-tools">
            <div class="title">

                <img ng-src="./assets/font/material-design-icons/ic_arrow_back_white_48dp.png" ng-click="eventList.toCalendar()"/>
            </div>
            <span id="title-text"><h3>Events</h3></span>

        </div>
    </md-toolbar>

    <div layout="row" layout-fill>
        <md-toolbar>
            <div layout-fill class="md-toolbar-tools">

                <span><strong>{{eventList.currentMonth}}, {{eventList.currentDay}}</strong></span>
                <div>
                    <md-button class="md-accent md-raised" id="add-btn" ng-click="eventList.showEventDialog()">Add Event</md-button>

                </div>
            </div>
        </md-toolbar>
    </div>
</div>


<div layout="row" layout-wrap>
    <div class="card" ng-repeat="prop in eventList.events">
        <md-card>
            <div layout="column" class="card-div">
                <span class="card-content">
                    <md-button><span ng-click="eventList.goToEvent($index)" class="card-title">{{prop.title}}</span></md-button><md-divider></md-divider>
                    <p><span layout-wrap class="card-des">{{prop.description}}</span></p>
                </span>
            </div>

            <div layout="row" layout-align="center end" class="toolbar">
                <span class="thumbs">
                    <span class="badge">23</span><img class="toolbar-icon" ng-src="./assets/font/material-design-icons/ic_thumb_up_white_18dp.png"/>
                    <span class="badge">6</span><img class="toolbar-icon" ng-src="./assets/font/material-design-icons/ic_thumb_down_white_24dp.png"/>
                </span>
                <span class="comment">
                    <md-button><span class="badge">51</span>Comments</md-button>
                </span>
            </div>
        </md-card>
    </div>
</div>

