<section layout="column">

  <!-- Month Selector -->
  <md-tabs md-selected="register.selectedMonth" flex>

    <!-- Month -->
    <md-tab ng-repeat="month in register.months" label="{{ month}}">

      <!-- Month content -->
      <div>
        <!-- Day Labels -->
        <div layout="row" layout-margin>
          <div flex>
            Sunday
          </div>
          <div flex>
            Monday
          </div>
          <div flex>
            Tuesday
          </div>
          <div flex>
            Wednesday
          </div>
          <div flex>
            Thursday
          </div>
          <div flex>
            Friday
          </div>
          <div flex>
            Saturday
          </div>
        </div>

        <md-grid-list
            md-cols-gt-md="7" md-row-height="1:1" md-gutter="4px">
          <md-grid-tile
              class="grey"
              ng-repeat="day in register.days"
              ng-click="register.goToEventList(day.id)">

              <md-subheader class="md-accent" ng-repeat="event in day.events">{{ event.title }}</md-subheader>

              <md-grid-tile-footer><h3>{{ day.id }}</h3></md-grid-tile-footer>

          </md-grid-tile>
        </md-grid-list>

    </md-tab>
  </md-tabs>
</section>